.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    max-width: 1184px;
    grid-gap: 16px;
    padding-top: 92px;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 975px) {
    .photo-grid {
        padding-top: 88px;
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 750px) {
    .photo-grid {
        padding-top: 64px;
        max-width: 480px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: repeat(1, 1fr);
    }
}