.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 96px;
}

@media screen and (min-width: 320px) {
    .photo-grid {
        padding-top: 64px;
    }
}