.lead {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 984px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 924px;
    }
}