.place__paragraph {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}
@media screen and (max-width: 500px) {
    .place__paragraph {
        max-width: 288px;
        width: 100%;
        margin: auto;
        padding-bottom: 25px;
    }

    .place__paragraph:last-of-type {
        padding-bottom: 0;
    }
    
}

