.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1184PX;
    height: 740px;
    margin: auto;
    background-color: #2A2C2F;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-height: 640px;
    }
}


@media screen and (max-width: 768px) {
    .cover {
        max-height: 440px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-height: 200px;
    }

}