.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1184px;
    min-height: 740px;
    margin: auto;
    background-image: url(../../images/cover-route-66.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}


@media screen and (max-width: 768px) {
    .cover {
        min-height: 440px;
    }
}

@media screen and (max-width: 500px) {
    .cover {
        min-height: 260px;
    }

}

@media screen and (max-width: 400px) {
    .cover {
        min-height: 200px;
    }

}