.place {
    width: 100%;
    max-width: 984px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 25px 40px;
    padding: 81px 0 0;
}

.place:first-of-type {
    padding: 0;
}

@media screen and (max-width: 1050px) {
    .place {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .place {
        width: 100%;
        max-width: 720px;
        padding: 73px 0 0;
    }
}

@media screen and (max-width: 500px) {
    .place {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 0;
        padding: 48px 0 0;
    }
}